@use "../variables/colors";
@use "../variables/breakpoints";

.all-customers {
  &__title {
    margin-bottom: 0.4375rem;
  }

  &__status {
    color: colors.$brand-green;
    font-size: 0.875rem;
    letter-spacing: -0.14px;
    line-height: 1.5;
  }

  &__search {
    display: flex;

    flex-direction: column;
    margin-bottom: 1.625rem;

    @media screen and (min-width: breakpoints.$tablet) {
      padding-right: 3.3125rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
    }
  }

  &__search-form {
    margin-top: 0.5rem;

    @media screen and (min-width: breakpoints.$tablet) {
      position: relative;
      bottom: 0.5625rem;
      margin-top: 0;
    }
  }

  &__table {
    margin-bottom: 1.875rem;
  }
}
