@use "../variables/sizes";
@use "../variables/breakpoints";
@use "../variables/colors";

.sidebar {
  position: fixed;
  overflow: auto;

  width: 0;
  visibility: hidden;

  top: 0;
  bottom: 0;
  left: 0;

  padding-top: 2.25rem;
  padding-bottom: 4.75rem;

  background-color: colors.$white;

  @media screen and (min-width: breakpoints.$desktop) {
    width: sizes.$sidebar-width;
    visibility: visible;
  }

  &--open {
    width: sizes.$sidebar-width;
    visibility: visible;
  }

  &__container {
    display: flex;
    flex-direction: column;

    height: 100%;

    padding-left: 1.75rem;
    padding-right: 1.75rem;

    & > * + * {
      margin-top: 3.3125rem;
    }
  }

  &__at-bottom {
    margin-top: auto;
  }
}
