@use "../variables/sizes";
@use "../variables/breakpoints";
@use "../variables/colors";

.sidebar {
  position: fixed;
  overflow-y: auto;

  width: 0;
  height: 100%;

  left: 0;
  top: 0;

  transition: background-color 500ms ease-in-out, width 0s linear 500ms;

  &[aria-expanded="true"] {
    width: 100%;

    background-color: rgba($color: colors.$black, $alpha: 0.5);
    transition: background-color 500ms ease-in-out 1ms, width 0s linear;

    .sidebar__content {
      transform: translateX(0);
    }
  }

  @media screen and (min-width: breakpoints.$desktop) {
    background-color: transparent;
    width: sizes.$sidebar-width;
    transition: none;
  }

  &__content {
    position: relative;

    width: sizes.$sidebar-width;
    height: 100%;

    padding-top: 2.25rem;
    padding-bottom: 4.75rem;

    background-color: colors.$white;

    transform: translateX(-100%);
    transition: transform 500ms ease-in-out;

    @media screen and (min-width: breakpoints.$desktop) {
      transform: translateX(0);
    }
  }

  &__container {
    display: flex;
    flex-direction: column;

    height: 100%;

    padding-left: 1.75rem;
    padding-right: 1.75rem;

    & > * + * {
      margin-top: 3.3125rem;
    }
  }

  &__close-btn {
    position: absolute;

    top: 1.5rem;
    right: 1.5rem;

    width: 2rem;
    height: 2rem;

    @media screen and (min-width: breakpoints.$desktop) {
      display: none;
    }
  }

  &__at-bottom {
    margin-top: auto;
  }
}
