@use "variables/breakpoints";
@use "variables/colors";
@use "variables/sizes";

@use "utils/fonts";
@use "utils/reset";

@use "components/container";
@use "components/section";
@use "components/all-customers";
@use "components/badge";
@use "components/data-table";
@use "components/header";
@use "components/logo";
@use "components/navigation";
@use "components/pagination";
@use "components/profile";
@use "components/search";
@use "components/sidebar";
@use "components/title";

body {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background-color: colors.$bg;
  color: colors.$fg;

  padding: 2.5625rem 0;
}

main {
  min-height: 100dvh;

  @media (min-width: breakpoints.$desktop) {
    margin-left: sizes.$sidebar-width;
  }
}
