$bg: #fafbff;
$fg: #292d32;

$black: #000000;
$white: #ffffff;
$gray-50: #f5f5f5;
$gray-100: #f9fbff;
$gray-150: #eeeeee;
$gray-200: #b5b7c0;
$gray-400: #9197b3;
$gray-500: #838383;
$gray-550: #7e7e7e;
$gray-600: #757575;
$gray-800: #404b52;

$brand-blue: #5932ea;
$brand-green: #16c098;

$active-bg: #a6e7d8;
$active-fg: #008767;
$badge-active-border: #00b087;

$inactive-bg: #ffc5c5;
$inactive-fg: #df0404;
$badge-inactive-border: #df0404;
