aside#menu.sidebar(aria-expanded="false")
  .sidebar__content
    button#close-menu.sidebar__close-btn
      svg(width=28, height=28)
        use(href=require("@/assets/icons.svg#icon-x"))
    .sidebar__container
      include logo.pug
      include nav.pug
      .sidebar__at-bottom
        include profile.pug